<!DOCTYPE html>
<html>
    <body>
    <%- partial("_partial/head") %>
    <%- partial("_partial/header-top") %>
    <div>
        <%- partial("_partial/header") %>
        <%- body %>
        <%- partial("_partial/footer") %>
    </div>
    </body>
    
    <%- css("static/header.css") %>
    <%- css("static/welkin.css") %>
    <%- css("static/global.css") %>
    <%- js("static/welkin.js") %>
    <% if(is_home_first_page()) { %>
        <style>
            .pager {justify-content: flex-end;}
        </style>
    <% } %>
</html>