<!DOCTYPE html>
<html>
    <body>
    <%- partial("_partial/head") %>
    <%- partial("_partial/header-top") %>
    <div>
        <%- partial("_partial/header") %>
        <%- body %>
        <%- partial("_partial/footer") %>
    </div>
    </body>
    
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/base16/google-light.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="//lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.js"> </script>
    <%- css("static/header.css") %>
    <%- css("static/welkin.css") %>
    <%- css("static/global.css") %>
    <%- js("static/welkin.js") %>
    <%- js('static/wrapImage.js') %>
    <% if(is_home_first_page()) { %>
        <style>
            .pager {justify-content: flex-end;}
        </style>
    <% } %>
</html>